<template>
    <div class="form-group text-center chart_nav">
        <label class="form-radio form-inline">
            <input type="radio" name="dates" @click="$emit('changeLength', 30)" :checked="dates === 30">
            <i class="form-icon"></i> Last 30 days
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="dates" @click="$emit('changeLength', 60)" :checked="dates === 60">
            <i class="form-icon"></i> Last 60 days
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="dates" @click="$emit('changeLength', 90)" :checked="dates === 90">
            <i class="form-icon"></i> Last 90 days
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="dates" @click="$emit('changeLength', 180)" :checked="dates === 180">
            <i class="form-icon"></i> Last 180 days
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="dates" @click="$emit('changeLength', 0)" :checked="dates === 0">
            <i class="form-icon"></i> All
        </label>
    </div>
</template>

<script>
export default {
    props: ['dates'],
}
</script>

<style scoped>
.chart_nav{
    margin-top: 2rem;
}
.form-radio input:checked + .form-icon{
    background: #FB3640;
    border-color: #FB3640;
}
</style>