<script setup>
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, LineElement, LinearScale, CategoryScale, PointElement } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale, PointElement)

defineProps({
    chartData: {
        type: Array,
        required: true
    },
    chartOptions:{
        type: Object,
        required: true
    }
})
</script>

<template>
    <Line :data="chartData" :options="chartOptions" />
</template>