<script setup>
import ContactForm from '../components/ContactForm.vue'
</script>

<template>
    <div class="column col-12">
        <h1 class="text-center">Contact</h1>
    </div>
    <div class="column col-7 col-md-10 col-sm-12 col-mx-auto">
        <ContactForm />
    </div>
</template>
