<script setup>
import ChartWrapper from '../components/ChartWrapper.vue'
</script>

<template>
    <header class="column col-12">
        <header>
            <h1 class="text-center">Missile and drone strikes chart</h1>
        </header>
        <h2 class="text-center h6">Downed misssile and drone graph based on data from Air Force Command of UA Armed Forces</h2>
    </header>
    <div class="column col-12">
        <ChartWrapper />
    </div>
    <div class="column col-12 info">
        <h2 class="text-center">Russia's strategy of strikes on Ukraine's infrastructure</h2>
        <p>Russia's military doctrine heavily emphasizes attacks on civilian targets in Ukraine. British intelligence, however, questions their usefulness.
        Russia has used the idea of a strategic operation to destroy vital targets, a crucial element of military strategy, in its assaults on Ukraine's energy infrastructure. However, there are concerns about the strategy's efficacy.
        According to intelligence sources, Russia's attacks on Ukraine's energy infrastructure are likely the country's first attempt to put the idea into practice.</p>
        <p>
            <i>"Long-range missiles would be used to target an enemy state's vital national infrastructure rather than its armed forces in order to demoralize the populace and finally force the state's leaders to submit, according to a concept developed by Russia. Continued Russian strikes result in power outages, 
            which spread indiscriminate mass humanitarian issues across Ukraine"
            </i>Reads the message.
        </p>
        <h2 class="text-center">Russian invasion of Ukraine</h2>
        <p>The Russo-Ukrainian War, which started in 2014, significantly escalated on February 24, 2022, when russia invaded Ukraine. 
            Tens of thousands of people have died as a result of the invasion on both sides. 
            The largest refugee crisis to affect Europe since World War II is a result of it. 
            By late May, there were about 8 million displaced Ukrainians, and by 8 November 2022, 7.8 million had left the country.</p>
        <p>Following the 2014 Ukrainian Revolution, russia annexed Crimea, 
            and paramilitaries with russian support seized a portion of the Donbas region in southeast Ukraine, which includes the Luhansk and Donetsk oblasts. 
            russia started a significant military buildup along its border with Ukraine in March 2021, and eventually 190,000 soldiers and their equipment were gathered there. 
            Despite the buildup, numerous russian government officials denied having any plans to invade or attack Ukraine up until the day of the invasion. The Donetsk People's Republic and the Luhansk People's Republic, two self-declared breakaway quasi-states in the Donbas, were recognized by Russia on February 21, 2022. The russian Federation Council authorized the use of force the following day, and russian troops entered both territories.</p>
        <p>On the morning of February 24, 2022, russian President Vladimir Putin made an announcement about a "special military operation" to "demilitarize" and "denazify" Ukraine. 
            In his speech, Putin expressed irredentist opinions, questioned Ukraine's right to be a sovereign nation, and made up evidence that the Ukrainian government was led by neo-Nazis who oppressed the ethnic russian minority. A few minutes later, russian airstrikes and a sizable ground invasion were launched on four fronts: a southern front from Crimea; a south-eastern front from Luhansk and Donetsk; a northern front from Belarus towards Kyiv; a north-eastern front towards Kharkiv. 
            Martial law and a general mobilization were enacted by Ukrainian President Volodymyr Zelensky.</p>
    </div>
    
</template>

<style lang="scss" scoped>
.info{
    margin-top: 2rem;
    color: #919191;
    text-align: justify;
}
.footer{
    > small{
        font-size: 11px;
    }
}
.h6{
    color: #919191;
}
</style>
