<script setup>

</script>

<template>
    <div class="column col-12">
        <h1 class="text-center">Links:</h1>
    </div>
    <div class="column col-7 col-md-10 col-sm-12 col-mx-auto">
        <b><a href="https://twitter.com/KpsZSU">Ukrainian Air Force Twitter</a></b>
    </div>
    <div class="column col-7 col-md-10 col-sm-12 col-mx-auto">
        <b><a href="https://protectukrainenow.org/">Protect Ukraine NOW</a></b>
    </div>
</template>
