<script setup>
import Chart from './Chart/Chart.vue'
import ChartNav from './Chart/ChartNav.vue'
import TotalDowned from './TotalDowned.vue'
import { chartConfig } from './Chart/chartConfig.js'

import { prepareChatData } from '../api/helper.js'
</script>

<script>

export default {
    data() {
        return {
            chartData: null,
            chartDataSliced: null,
            loading: true,
            loadingErrorMessage: false,
            dates: 60
    }},
    async created() {
        try {
            const resp = await fetch('../../data.json')
            const json = await resp.json()

            this.loading = false

            this.chartData = prepareChatData(json)
            this.chartDataSliced = this.sliceData(this.chartData)
        } catch (error) {
            this.loading = false
            this.loadingErrorMessage = error.message
            console.log(error.message)
        }
        
    },
    methods: {
        updateChartLength(n) {
            this.dates = n
            this.chartDataSliced = this.sliceData(this.chartData)
        }, 
        sliceData(chartData) {
            console.log(chartData.datasets[2].data,"sssssssss")
            const length = chartData.datasets[2].data.length,
            start = length - this.dates
            // MAKING A DEEP COPY OF OBJECT
            let dataCopy = JSON.parse(JSON.stringify(chartData))

            if (this.dates && this.dates !== 0 && this.dates !== null) {
                dataCopy.datasets.forEach(item => {
                    item.data = item.data.slice(start, length)
                })
            }

            return dataCopy
        }
    }
}

</script>

<template>
    <ChartNav :dates="dates" @change-length="updateChartLength" />

  	<div id="strikes_chart">
        <div v-if="loading === true && loadingErrorMessage === false" class="d-flex loading_cnt">
            <div class="loading loading-lg"></div>
        </div>

        <Chart v-else-if="loading === false && loadingErrorMessage === false" :chartData="chartDataSliced" :chartOptions="chartConfig" />

        <div v-if="loadingErrorMessage" class="text-center">
            <span>{{loadingErrorMessage}}</span>
        </div>
  	</div>
    
    <div class="caption text-center">
        <i>Only downed russian mid/long range 
            missiles and drones are included in this chart
            (Iskander, Kalibr, Kh-22, Kh-59, Tochka, P-800 Oniks, Kh-101, Kh-555, 
            Shahed-131, Shahed-136, operational-tactical level(OTL) drones etc.)
            Keep in mind that not each missile attack is officially reported</i>
    </div>

    <TotalDowned v-if="loading === false && loadingErrorMessage === false" :data="chartData" />

</template>

<style scoped>
    #strikes_chart{
        height: 500px;
    }
    .loading_cnt{
        height: inherit;
        align-items: center;
        justify-content: center;
    }
    .caption{
        margin-top: 1rem;
    }
</style>