<script setup>
import { VueRecaptcha } from 'vue-recaptcha';
</script>
<template>
    
    <div class="form_cnt p-relative">
        <transition name="fade">
            <form v-if="showForm" action="" @submit.prevent="onFormSubmit" class="p-absolute">
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" type="email" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,14}$" v-model="email">
                </div>
                <div class="form-group">
                    <label class="form-label" for="message">Message</label>
                    <textarea class="form-input" id="message" placeholder="Message" rows="5" v-model="message"></textarea>
                </div>
                <div class="form-group rec">
                    <vue-recaptcha :sitekey="siteKey" :theme="theme" :size="size" @verify="verifyMethod"></vue-recaptcha>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg mt" ref="SubmitBtn">Send</button>
                </div>
            </form>
            <h2 v-else class="p-absolute text-center mt ty">
                <span v-if="error === null">Thank you!</span>
                <span v-else>Something went wrong, try later((</span>
            </h2>
        </transition>
    </div>
    
</template>

<script>
export default {
    data(){
        return{
            email: '',
            message: '',
            verify: false,
            showForm: true,
            submitUrl: 'contact-form.php',
            options: {
					method: 'POST', 
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    body: null
				},
            error: null, 
            siteKey: '6LcCbuQjAAAAAAeU6jGxbmNXmexpwDqeFXZ6G1Cb',
            theme: 'dark',
            size: 'compact'
        }
    },
    methods: {
        onFormSubmit() {
            if (!this.verify || this.email == '' || this.message.length  == '') {
                return
            }
            this.send()
            this.$refs.SubmitBtn.disabled = true
            this.showForm = false
        },
        send() {

            let fData = new FormData()

			fData.append('email', this.email);
			fData.append('message', this.message);
            
            this.options.body = fData

            fetch(this.submitUrl, this.options)
                .then((response) => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Something went wrong'); 
                    }
                })
                .then((res)=>{
                    this.showForm = false
                })
                .catch((err)=>{
                    this.showForm = false
                    this.verify = false
                    this.error = err.message
                })
        },
        verifyMethod(res) {
            if(res) this.verify = true
        }
    }
   
}
</script>

<style scoped>
.form_cnt{
    min-height: 494px;
}
.form_cnt > form{
    top: 0;
    left: 0;
    width: 100%;
}
.mt{
    margin-top: 2rem;
}
.rec{
    height: 150px;
}
.fade-leave-active{
  transition: opacity 0.35s ease;
  transition-delay: 0.5s;
}
.fade-enter-active{
    transition: opacity 0.35s ease;
    transition-delay: 0.55s;
}
.ty{
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.fade-enter-from,
.fade-leave-to{
    opacity: 0;
}
</style>