<script setup>
const date = new Date()
</script>

<template>
    <div class="container grid-lg">
		<div class="columns">
            <div class="column footer text-center">
                <small>Please share a link to this site, thanks! </small>
                <small>© 2014 - {{date.getFullYear()}}</small>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.footer{
    margin-top: 1.2rem;
    > small{
        font-size: 11px;
    }
}
</style>