<template>
	<nav class="navbar">
		<section class="navbar-section hide-sm"></section>
		<section class="navbar-center">
            <RouterLink to="/" class="logo_link">
			    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="44" height="44" />
            </RouterLink>
		</section>
		<section class="navbar-section">
			<RouterLink to="/" class="btn btn-link">Home</RouterLink>
			<RouterLink to="/links" class="btn btn-link">Links</RouterLink>
			<RouterLink to="/contact" class="btn btn-link">Contact</RouterLink>
		</section>
	</nav>
</template>

<script>
import { RouterLink } from 'vue-router'
</script>

<style lang="scss" scoped>
.navbar{
	padding: 0.4rem;
}
.logo_link{
    width: 44px;
    height: 44px;
    transition: opacity 0.3s;
    &:hover{
        opacity: 0.7;
    }
    &:hover, &:active, &:focus{
        box-shadow: none;
    }
}
</style>