<template>
    <div class="columns">
        <div class="column col-12">
            <h2 class="text-center heading">
                Total downed:
            </h2>
        </div>
        <div class="column col-6 col-sm-12">
            <h3 class="missiles badge text-center h1" :data-badge="missiles">Missiles</h3>
        </div>
        <div class="column col-6 col-sm-12">
            <h3 class="drones badge text-center h1" :data-badge="drones">Drones</h3>

        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: Object,
        require: true
    },
    computed: {
        missiles() {
            let totalMissiles = ''

            const { datasets } = this.data
            const misssilesArr = datasets[0].data
            totalMissiles = misssilesArr.reduce((accumulator, currentValue) => accumulator + currentValue.y,
                0)
            return totalMissiles
        },
        drones() {
            let totalDrones = ''

            const { datasets } = this.data
            const dronesArr = datasets[1].data
            totalDrones = dronesArr.reduce((accumulator, currentValue) => accumulator + currentValue.y,
                0)
            return totalDrones
        }
    }
}
</script>

<style scoped>
.heading{
    margin-top: 2rem;
}
h3{
    color:#919191;
}
.missiles.badge[data-badge]::after, .missiles.badge:not([data-badge])::after{
    background-color: #FB3640;
    box-shadow: 0 0 0 0.1rem #FB3640;
}
.drones.badge[data-badge]::after, .drones.badge:not([data-badge])::after{
    background-color: #2292a4;
    box-shadow: 0 0 0 0.1rem #2292a4;
}
</style>