@import './spectre-0.5.9/src/spectre.scss';
::selection{
    background-color: #f58f20;
    color: white;
}
::-moz-selection{
    background-color: #f58f20;
    color: white;
}
html, body{
    height:100%;
}
body{
    background-color: rgb(22, 22, 22);
    color: $primary-color;
}
h1, h2, h3, h4, h5, h6{
    color: $light-color;
}
main{
    margin-top: 3rem;
}
main.container{
    min-height: calc(100vh - (84px + 3rem));
}