<script setup>
import { RouterView } from 'vue-router'
import Nav from './components/Nav.vue'
import Footer from './components/Footer.vue'
</script>

<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <Nav />
            </div>
        </div>
    </div>
    <main class="container grid-lg">
		<div class="columns">
            <RouterView />
        </div>
	</main>
    <Footer />
</template>

